/* Custom Properties */
.NavBar--wrapper {
    --padding-vertical: 15px;
    --padding-horizontal: 30px;
}

.NavBar--wrapper {
    position: relative;
    top: 0;
    left: 0;
    height: 59px;
    z-index: 999;
    margin-bottom: var(--padding-horizontal);
}

.NavBar--wrapper > nav {
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% - 2 * var(--padding-horizontal));
    height: fit-content;
    padding: var(--padding-vertical) var(--padding-horizontal);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(15px);
}

/* Middle Section */
.NavBar--center {
    --gap-size: 8px;
}

.NavBar--center {
    display: flex;
    flex-direction: row;
    gap: var(--gap-size);
}

.NavBar--left {
    display: none;
}

@media screen and (min-width: 750px) {
    .NavBar--left {
        display: block;
    }
}
